html{
    background: url(../img/stylistbg5.jpg);
    background-size: cover;
    height: 800px;
}
.clear{
    clear: both;
}
.top2 a{
    text-decoration: none;
    color: #000000;
}
.container{
    width: 1000px;
    height: 800px;
    padding-top: 50px;
}
.container p{
     width: 500px;
     text-align: center;
     padding-bottom: 30px;
     float: left;
     margin-left: 130px;
 }
.container h5{
    width: 500px;
    text-align: center;
    padding-bottom: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}
.container h4{
    width: 500px;
    text-align: center;
    padding-bottom: 5px;
    margin-left: 48px;
    margin-bottom: 5px;
}
/*.container p:nth-child(4){
    width: 1000px;
    text-align: center;
    height: 100px;
    padding-bottom: 30px;
}*/
.container label{
    float: left;
    display: inline-block;
    overflow-wrap: normal;
    text-align: left;
}
.container span{
    float: left;
    display: inline-block;
    width: 500px;
    overflow-wrap: normal;
    text-align: left;
}
.container img{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: -260px;
}
#myConsul {
    margin-left: 20%;
    border: 2px solid beige;
    width: 800px;
    /*height: 300px;*/
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
#stylist_answer{
    margin-left: 20%;
    border: 2px solid beige;
    width: 800px;
    /*height: 300px;*/
    padding: 30px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*滚动条样式*/
#myConsul::-webkit-scrollbar{  /*滚动条整体样式*/
    width: 4px;
    height: 200px;
}
#myConsul::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
#myConsul::-webkit-scrollbar-track{/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
#stylist_answer::-webkit-scrollbar{  /*滚动条整体样式*/
    width: 4px;
    height: 200px;
}
#stylist_answer::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
#stylist_answer::-webkit-scrollbar-track{/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
