* {
	margin: 0;
	padding: 0;
    
}
.afterLogin{
    float: right;
    /*  margin-right: 5%;*/
    width: 200px;
    height: 19px;
    cursor: pointer;

}
.main-nav {
	
  float: right;
/*  margin-right: 5%;*/
  width: 100px;
  height: 19px;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-nav a {
  display: block;
  height: 19px;
  line-height: 19px;
  padding-left: 5%;
/*  background: #292a34;*/
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    width: auto;
/*    height: auto;*/
    background: none;
 /*   cursor: auto;*/
  }
  .main-nav ul {
    position: static;
    width: auto;
    /*-height: 80px;*/
  }
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav li:nth-last-child(2) {
    margin-left: 2em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    text-decoration: none;
/*    background: transparent;*/
  }
  .main-nav a.cd-signin, .main-nav a.cd-signup {
    padding: 0 .6em 0 1em;
 /*   border: 1px solid rgba(255, 255, 255, 0.6);*/
    border-radius: 50em;
  }
  .main-nav a.cd-signup {
    /*background: #2f889a;*/
    /*border: none;*/
  }
}

.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 100;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
  list-style: none;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
  text-decoration: none;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

#cd-login .cd-form {
  padding: 1.4em;
  margin-left: 120px;
}
#cd-signup .cd-form {
  padding: 1.4em;
  margin-left: 90px;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}

/*大盒子*/
/*.user_modal_contain {           
	width: 500px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 100px auto;
	
	
}*/
		
		
/*登录表单样式*/
#cd-login form p {
	margin: 15px 0;
}
.submit1 {
	width: 20%;
	/*display: block;*/
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 100px;
	color: #fff;
	height: 30px;
	background-color: #0000FF;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	transition: .5s;   /*把鼠标指针悬停在 div 元素上，它的外观会逐渐改变*/
	cursor: pointer;
	box-shadow: 0 0 3px #0000FF;
}
/*注册表单样式*/
#cd-signup form h4 {
	margin-bottom: 30px;
	margin-left: 80px;
}
#cd-signup form p {
	margin: 15px 0;
}
#cd-signup form span {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	color: #000;
	font-size: 15px;
}
#cd-signup form label {
	display: inline-block;
	/*margin-left: 0.5%;*/
	width: 18%;
	text-align: right;
	vertical-align: middle;
}
.submit2 {
	width: 28%;
	/*display: block;*/
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 70px;
	color: #fff;
	height: 32px;
	background-color: #0000FF;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	transition: .5s;   /*把鼠标指针悬停在 div 元素上，它的外观会逐渐改变*/
	cursor: pointer;
	box-shadow: 0 0 3px #0000FF;
}
/*表单样式*/
.input {
	width: 50%;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
}
.submit1:hover, .submit2:hover {
	background-color: #1111AA;
}

/*下面的盒子*/
/*.divs div {
	width: 500px;
	height: 500px;
	padding-top: 40px;
	text-align: center;
	display: none;
}*/


/*.btns .change {
	border-bottom: 2px solid blue;
}*/

@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }

}

/*右上角上的叉*/

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected{
  display: block;
}



/*多用户登录、注册时的切换*/
.fastLogin .tabTop, .fastRegister .tabTop{
    margin-left: 80px;
    width: 800px;
    height: 30px;
}
.fastLogin .tabTop ul, .fastRegister .tabTop ul{
    list-style: none;
}
.fastLogin .tabTop ul li, .fastRegister .tabTop ul li{
    margin-top: 20px;
    float: left;
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    margin-left: 30px;
    text-align: center;
    border: 1px solid #999999;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    border-radius: 8%;
}
.fastLogin .tabTop ul li.active, .fastRegister .tabTop ul li.active {
    background: lightblue;
    cursor: pointer;
}
.fastLogin .tabBottom{
    width: 572px;
    height: 250px;
    float: right;
    background-color: #FFFFFF;
}
.fastRegister .tabBottom{
    width: 572px;
    height: 400px;
    float: right;
    background-color: #FFFFFF;

}
.fastLogin .tabBottom .tabBottomContent, .fastRegister .tabBottom .tabBottomContent{
    display: none;
}

