<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbStylistMapper">

    <select id="selectStylistCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT count(*)
        FROM tb_user_stylist
        where userId=#{userId};
    </select>

    <select id="selectStylistByUserId" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStylist">
        SELECT stylistId, stylistName, stylistPhoto
        FROM tb_stylist
        WHERE stylistId
          IN (SELECT stylistId
          FROM tb_user_stylist
          where userId = #{userId});
    </select>

    <!--造型师注册-->
    <insert id="addStylist" parameterType="com.istyle.pojo.TbStylist">
        INSERT INTO
        tb_stylist(stylistName, realName, stylistPassword, stylistSex, stylistAge, stylistPhone)
        VALUES
        (#{stylistName}, #{realName}, #{stylistPassword}, #{stylistSex}, #{stylistAge}, #{stylistPhone});
    </insert>

    <!--造型师登录-->
    <select id="selectStylistByPhoneAndPassword" parameterType="com.istyle.pojo.TbStylist" resultType="com.istyle.pojo.TbStylist">
        select stylistId, stylistName, stylistPhoto, stylistWord, stylistSex, stylistAge, stylistPhone
        from tb_stylist
        where stylistPhone=#{stylistPhone} and stylistPassword=#{stylistPassword} and stylistStatus=0;
    </select>
    <!--根据号码查询数量，并返回-->
    <select id="isStylistPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from tb_stylist
        where stylistPhone = #{stylistPhone};
    </select>

    <!--根据昵称查询数量，并返回-->
    <select id="isStylistName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from tb_stylist
        where stylistName = #{stylistName};
    </select>

    <!--根据号码和密码查询数量，并返回-->
    <select id="isPhoneAndPassword" parameterType="com.istyle.pojo.TbStylist" resultType="java.lang.Integer">
        select count(*)
        from tb_stylist
        where stylistPhone=#{stylistPhone}
        and stylistPassword=#{stylistPassword}
        and stylistStatus=0;
    </select>

    <!--根据id查询造型师主页信息-->
    <select id="selectStylistHomeById" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStylist">
        select stylistPhoto, stylistName, stylistSex, stylistWord, stylistIntroduction, stylistAdvisory
        from tb_stylist
        where stylistId = {stylistId};
    </select>

    <!--根据id查询照片、昵称、性别、签名-->
    <select id="selectPhotoNameWordSexById" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStylist">
        select stylistPhoto, stylistName, stylistSex, stylistWord
        from tb_stylist
        where stylistId = {stylistId};
    </select>


</mapper>