<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbStylistMapper">

    <select id="selectStylistCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT count(*)
        FROM tb_user_stylist
        where userId=#{userId};
    </select>

    <select id="selectStylistByUserId" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStylist">
        SELECT stylistName, stylistPhoto
        FROM tb_stylist
        WHERE stylistId
          IN (SELECT stylistId
          FROM tb_user_stylist
          where userId = #{userId});
    </select>
</mapper>