<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbStyHouseMapper">

    <select id="selectStyHouseCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT count(*)
        FROM tb_user_styhouse
        where userId=#{userId};
    </select>

    <select id="selectStyHouseByUserId" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStyHouse">
        SELECT styHouseName, styHousePhoto
        FROM tb_styHouse
        WHERE styHouseId
          IN (SELECT styHouseId
          FROM tb_user_styhouse
          where userId = #{userId});
    </select>
</mapper>