<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbStyHouseStylistMapper">
    <select id="selectStylistIdByStyHouseId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select stylistId
        from tb_styhouse_stylist
        where styHouseId = #{styHouseId};
    </select>

    <select id="selectStylistCountByStyHouseId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select COUNT(*)
        from tb_styhouse_stylist
        where styHouseId = #{styHouseId};
    </select>

    <select id="selectStylistList" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStyHouseStylist">
        select *
        from tb_styhouse_stylist
        where styHouseId = #{styHouseId} and status=1;
    </select>

    <select id="selectStylistCount" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(*)
        from tb_styhouse_stylist
        where styHouseId = #{styHouseId} and status=1;
    </select>

    <select id="selectStylist" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStyHouseStylist">
        select *
        from tb_styhouse_stylist
        where styHouseId = #{styHouseId} and stylistId = #{stylistId} and status=1;
    </select>

    <update id="updateStylist" parameterType="com.istyle.pojo.TbStyHouseStylist">
        update tb_styhouse_stylist
        set stylistName=#{stylistName}, stylistPhoto=#{stylistPhoto}, maxNumber=#{maxNumber}, reservationTime=#{reservationTime},stylistIntroduction=#{stylistIntroduction}
        where styHouseId=#{styHouseId} and stylistId=#{stylistId};
    </update>
    
    <insert id="insertStylist" parameterType="com.istyle.pojo.TbStyHouseStylist">
        insert into
        tb_styhouse_stylist(stylistId,styHouseId,stylistPhoto, stylistName,stylistIntroduction, maxNumber, reservationTime, status)
        values (#{stylistId},#{styHouseId},#{stylistPhoto}, #{stylistName},#{stylistIntroduction}, #{maxNumber}, #{reservationTime}, 1)
    </insert>

    <update id="deleteStylist" parameterType="com.istyle.pojo.TbStyHouseStylist">
        update tb_styhouse_stylist
        set status=0
        where styHouseId=#{styHouseId} and stylistId=#{stylistId};
    </update>
    
    
</mapper>