<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbStyHouseMapper">

    <select id="selectStyHouseCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT count(*)
        FROM tb_user_styhouse
        where userId=#{userId};
    </select>

    <select id="selectStyHouseByUserId" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbStyHouse">
        SELECT styHouseName, styHousePhoto
        FROM tb_styhouse
        WHERE styHouseId
          IN (SELECT styHouseId
          FROM tb_user_styhouse
          where userId = #{userId});
    </select>

    <insert id="addStyHouse" parameterType="com.istyle.pojo.TbStyHouse">
        INSERT INTO
        tb_styhouse(styHouseName, styHouseAccount, styHousePassword, headName, headId, headPhone, styHousePosition)
        VALUES
        (#{styHouseName}, #{styHouseAccount}, #{styHousePassword}, #{headName}, #{headId}, #{headPhone}, #{styHousePosition});
    </insert>

    <select id="isStyHouseAccount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from tb_styhouse
        where styHouseAccount=#{styHouseAccount} and styHouseStatus=0;
    </select>

    <select id="isAccountAndPassword" parameterType="com.istyle.pojo.TbStyHouse" resultType="java.lang.Integer">
        select count(*)
        from tb_styhouse
        where styHouseAccount=#{styHouseAccount} and styHousePassword={styHousePassword} and styHouseStatus=0;
    </select>

    <select id="selectStyHouseByAccountAndPassword" parameterType="com.istyle.pojo.TbStyHouse" resultType="com.istyle.pojo.TbStyHouse">
        select styHouseId, styHouseName, styHouseWord, styHousePhoto, styHousePosition, styHouseAccount
        from tb_styhouse
        where styHouseAccount=#{styHouseAccount} and styHousePassword={styHousePassword} and styHouseStatus=0;
    </select>
</mapper>