<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbUserStylistMapper">
    <!--根据id查询粉丝数据-->
    <select id="selectStylistFanById" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbUser">
        SELECT userId, userPhoto, userName, userWord
        FROM tb_user
        WHERE userId
        IN (SELECT userId
        FROM tb_user_stylist
        WHERE stylistId=#{stylistId} and STATUS=0);
    </select>

    <!--根据id查询粉丝数-->
    <select id="selectFanCountById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(*)
        from tb_user_stylist
        where stylistId=#{stylistId} and STATUS=0;
    </select>

    <!--根据用户id和造型师id查询是否关注，并返回数据-->
    <select id="selectStatusByUserIdAndStylistId" parameterType="com.istyle.pojo.TbUserStylist" resultType="java.lang.Integer">
        select status
        where tb_user_stylist
        where stylistId=#{stylistId} and userId=#{userId};
    </select>

    <!--根据用户id和造型师id修改为关注状态-->
    <update id="updateStatusTo0ByUserIdAndStylistId" parameterType="com.istyle.pojo.TbUserStylist">
        update tb_user_stylist
        set status=0
        where userId=#{userId} and stylistId=#{stylistId};
    </update>

    <!--根据用户id和造型师id增加关注状态-->
    <insert id="insertStatusByUserIdAndStylistId" parameterType="com.istyle.pojo.TbUserStylist">
        insert into tb_user_stylist(userId, stylistId, status)
        values (#{userId}, #{stylistId}, 0);
    </insert>
</mapper>