<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.istyle.mapper.TbUserMapper">

    <!--注册用户-->
    <insert id="insertUser" parameterType="com.istyle.pojo.TbUser">
        insert into
        tb_user(userName,userPassword,userPhone,userAge,userSex,userPhoto, userStatue)
        VALUES (#{userName}, #{userPassword},#{userPhone},#{userAge},#{userSex},"/img/headphoto.png", 0);
    </insert>

    <!--查询用户名是否存在,并返回数量-->
    <select id="isUserPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from tb_user where userPhone = #{userPhone}
    </select>

    <!--查询昵称是否存在,并返回数量-->
    <select id="isUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from tb_user where userName = #{userName}
    </select>

    <!--检查账号和密码是否正确-->
    <select id="isNameAndPassword" parameterType="com.istyle.pojo.TbUser" resultType="java.lang.Integer">
        SELECT count(*)
        FROM tb_user
        WHERE userPhone = #{userPhone} and userPassword = #{userPassword} and userStatue = 0;
    </select>

    <!--用户登录-->
    <select id="loginUser" parameterType="com.istyle.pojo.TbUser" resultType="com.istyle.pojo.TbUser">
        select userId,userName,userPassword,userPhone,userAge,userSex,userPhoto
        from tb_user
        where userPhone = #{userPhone} and userPassword = #{userPassword} and userStatue = 0;
    </select>

    <!--根据号码返回ID-->
    <select id="selectIdByPhone" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT userId
        FROM tb_user
        WHERE userPhone = #{userPhone};
    </select>

    <!--通过id修改信息-->
    <update id="updateById" parameterType="com.istyle.pojo.TbUser">
        UPDATE tb_user
        SET userName = #{userName}, userWord = #{userWord}, userSex = #{userSex}
        WHERE userId = #{userId};
    </update>

    <!--通过id获取用户资料-->
    <select id="selectUserById" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbUser">
        SELECT userPhoto, userName, userWord, userSex, userAge
        FROM tb_user
        WHERE userId = #{userId};
    </select>

    <!--通过id获取图片、昵称、签名-->
    <select id="selectPhotoNameWordById" parameterType="java.lang.Long" resultType="com.istyle.pojo.TbUser">
        select userId, userPhoto, userName, userWord
        from tb_user
        where userId in (
        select userId2
        from tb_user_user
        where (userId = #{userId} and usersState = 0));
    </select>

    <select id="selectUserCountById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(userId2)
        from tb_user_user
        where (userId = #{userId} and usersState = 0)
    </select>
</mapper>